{% extends 'base.html.twig' %}
{% block title %}Zombis Shop
{% endblock %}
{% block body %}
	<!-- Page Content -->
	<div class="content">
		<div class="container">

			<div class="row">

				<div class="col-lg-3">

					<h1 class="my-4">Zombis Shop</h1>
					<div class="list-group">
						{% for category in categories %}
							<a href="#" class="list-group-item">{{category.nameCategory}}</a>
						{% endfor %}
					</div>

				</div>
				<!-- /.col-lg-3 -->

				<div class="col-lg-9">

					<div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
							<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
							<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
						</ol>
						<div class="carousel-inner" role="listbox">
							<div class="carousel-item active">
								<img class="d-block w-100" src="{{asset('images/caroussel-1.png')}}" alt="First slide">
							</div>
							<div class="carousel-item">
								<img class="d-block w-100" src="{{asset('images/caroussel-2.png')}}" alt="Second slide">
							</div>
							<div class="carousel-item">
								<img class="d-block w-100" src="{{asset('images/caroussel-3.jpg')}}" alt="Third slide">
							</div>
						</div>
					</div>

					<div class="row">

						{% for product in products %}
							<div class="col-lg-4 col-md-6 mb-4">
								<div class="card h-100">
                                {% for photo in product.photos %}
                                
                                    <a href="#"><img class="card-img-top" align:"top" src="{{asset('uploads/' ~ photo.namePhoto)}}" alt=""></a>
									{# <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a> #}
                                {% endfor %}
									<div class="card-body">
										<h4 class="card-title">
											<a href="#">{{product.nameProduct}}</a>
										</h4>
										<h5>{{product.priceProduct}}€</h5>
										<p class="card-text">{{product.descriptionProduct|striptags|u.truncate(100, '...',true)}}</p>
									</div>
									<div class="card-footer">
										<small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
									</div>
								</div>
							</div>
						{% endfor %}

					</div>
					<!-- /.row -->

				</div>
				<!-- /.col-lg-9 -->

			</div>
			<!-- /.row -->

		</div>
	</div>
	<!-- /.container -->

	<!-- Footer -->
	<footer class="py-5 bg-dark">
		<div class="container">
			<p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
		</div>
		<!-- /.container -->
	</footer>


{% endblock %}
