{% extends 'base.html.twig' %} {% block title %}Register{% endblock %} {% block body %} 
{% for flashError in app.flashes('verify_email_error') %}
<div class="alert alert-danger" role="alert">{{ flashError }}</div>
{% endfor %}
<div class="content">

    <div class="container">
        <h1>Inscription</h1>
        {{ form_start(registrationForm) }}
        <div><label>Nom: </label><br>{{ form_widget(registrationForm.firstName) }}</div>
        <div><label>Prénom: </label><br> {{ form_widget(registrationForm.lastName) }}</div>
        <div><label>Email: </label><br> {{ form_widget(registrationForm.email) }}</div>
        <div><label>Mot de passe: </label><br> {{ form_widget(registrationForm.password.first, { label: 'Mot de passe' }) }}</div>
        <div><label>Confirmez le mot de passe: </label><br> {{ form_widget(registrationForm.password.second, { label: 'Confirmez le mot de passe' }) }}</div>
        <div><label>Adresse: </label><br> {{ form_widget(registrationForm.adress) }}</div>
        <div><label>Code Postal: </label><br> {{ form_widget(registrationForm.zipcode) }}</div>
        <div><label>Ville: </label><br> {{ form_widget(registrationForm.city) }}</div>
        <div>{{ form_widget(registrationForm.agreeTerms) }}<label><br>  J'accepte la politique de confidentialité</label></div>
        <button type="submit" class="btn btn-primary">S'inscrire</button> {{ form_end(registrationForm) }}
    </div>
</div>
{% endblock %}