{% extends 'base.html.twig' %}

{% block title %}Edit Products
{% endblock %}

{% block body %}
	<div class="content">
		<div class='container'>
			<h1>Modification du produit
				{{product.nameProduct}}</h1>

			{{ include('products/_form.html.twig', {'button_label': 'Modifier'}) }}

			<a href="{{ path('products_index') }}">back to list</a>

			{{ include('products/_delete_form.html.twig') }}
		</div>
	</div>

	{% block javascripts %}
		<script src="{{ asset('js/images.js') }}"></script>
	{% endblock %}
{% endblock %}
