{% extends 'base.html.twig' %}

{% block title %}Contacts{% endblock %}

{% block body %}
    <h1>Contacts</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contact.id }}</td>
            </tr>
            <tr>
                <th>FirstNameContact</th>
                <td>{{ contact.firstNameContact }}</td>
            </tr>
            <tr>
                <th>LastNameContact</th>
                <td>{{ contact.lastNameContact }}</td>
            </tr>
            <tr>
                <th>SubjectContact</th>
                <td>{{ contact.subjectContact }}</td>
            </tr>
            <tr>
                <th>ContentContact</th>
                <td>{{ contact.contentContact }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('contacts_index') }}">back to list</a>

    <a href="{{ path('contacts_edit', {'id': contact.id}) }}">edit</a>

    {{ include('contacts/_delete_form.html.twig') }}
{% endblock %}
